/* Stile generale del footer */
.site-footer {
  background-color: #333;
  color: #fff; /* Testo chiaro */
  text-align: center;
  padding: 20px 10px;
  font-family: Arial, sans-serif;
  border-top: 4px solid #444;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; // altrimenti sommava margin e gap credo andando a screare scroll orizzontale
}

/* Stile del contenuto del footer */
.site-footer .footer-content {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Link nel footer */
.site-footer a {
  color: #1e90ff; /* Blu acceso */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.site-footer a:hover {
  color: #00bfff; /* Blu più chiaro al passaggio del mouse */
}

.site-footer {
  position: relative; /* Assicura che lo z-index funzioni */
  z-index: 1; /* Footer in secondo piano */
}

/* Media Query per dispositivi più grandi */
@media (min-width: 768px) {
  .site-footer .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
