/* Stile generale della pagina Home */
.home-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;

  /* Sezione title-section */
  .title-section {
    background-color: #f5f5f5;
    padding: 40px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .title-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
  }

  .title-section p {
    font-size: 1.2em;
    color: #666;
  }

  /* Sezione Galleria */
  /* Stili generali per la sezione della galleria */
  .gallery {
    padding: 40px;
    text-align: center;
    background-color: #f4f4f4;
  }

  .gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
}
