/* Stile generale del menu di navigazione */
.main-nav {
  background-color: #333; /* Sfondo scuro */
  padding: 10px 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Lista orizzontale */
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Disposizione in riga */
  justify-content: center;
}

/* Elementi della lista */
.main-nav ul li {
  padding: 10px;
  border-radius: 10px;
}

/* Collegamenti */
.main-nav ul li a {
  text-decoration: none;
  color: #fff; /* Colore del testo */
  font-weight: bold;
}


/* --- MEDIA QUERY per mobile --- */
@media (min-width: 769px) {
  /* Hover sugli elementi */
  .main-nav ul li:hover {
  background-color: #555; /* Sfondo pi첫 chiaro */
  color: #f1f1f1; /* Testo pi첫 chiaro */
}
}


/* --- MEDIA QUERY per mobile --- */
@media (max-width: 768px) {
  .main-nav ul {
    flex-direction: column;
    background: #333;
  }

  .main-nav ul li {
    margin: 10px 0;
    text-align: center;
  }
  /* Hover sugli elementi */
  .main-nav ul li:hover {
  background-color: #555; /* Sfondo pi첫 chiaro */
  color: #f1f1f1; /* Testo pi첫 chiaro */
}
}