/* Stile generale del menu di navigazione */
.main-nav {
  background-color: #333; /* Sfondo scuro */
  padding: 10px 0;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Lista orizzontale */
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Disposizione in riga */
  justify-content: center;
}

/* Collegamenti */
.main-nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff; /* Colore del testo */
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}


/* --- MEDIA QUERY per mobile --- */
@media (min-width: 769px) {
  /* Hover sugli elementi */
  .main-nav ul a:hover {
  background-color: #555; /* Sfondo più chiaro */
  color: #f1f1f1; /* Testo più chiaro */
}
}

/* Solo per desktop: rendi il blocco più largo */
@media (min-width: 769px) {
  .main-nav ul li a {
    min-width: 100px;      /* larghezza minima del link */
    text-align: center;    /* testo centrato */
  }
}


/* --- MEDIA QUERY per mobile --- */
@media (max-width: 768px) {
  .main-nav {
  padding: 0 0 0 0;
}
  .main-nav ul {
    flex-direction: column;
    background: #333;
  }

  .main-nav ul li {
    margin: 0px 0;
    text-align: center;
  }
  
  /* Hover sugli elementi */
  .main-nav ul a:hover {
  background-color: #555; /* Sfondo più chiaro */
  color: #f1f1f1; /* Testo più chiaro */
}
}